header{
    background-image: url("img/banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: -10px;
}
nav{
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    flex-wrap: wrap;
    align-items: flex-start;
}
body {
    max-width: 1500px;
    margin: 0 auto;
    font-family: sans-serif;
}
.site-menu{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    margin-top: -510px;
    font-weight: bold;
}
.site-menu-ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.site-menu-li{
    padding: 10px;
    list-style: none;
}
.site-menu-li a{
    text-decoration: none;
    font-size: 18px;
    color: #7a163c;
    position: relative;
    padding: 5px;
}
.site-menu-li a::before{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #82054b;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
}
.site-menu-li a::after{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7f7f7;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
}
.site-menu-li:hover{
    opacity: 1.7;
    background-color: #7a163c;
}
.site-menu-li:hover a::before{
    opacity: 1.7;
    width: 50%;
    transform: translateX(100%);
}
.site-menu-li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
.site-menu-li a:hover{
    opacity: 1.7;
    color: white;
}
a {
    text-decoration: none;
}
.bannerfont{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    margin-top: -510px;
}
.flavor {
    position: absolute;
    font-size: 2rem;
    transform: translateY(280%);
    left: 38%;
}
.combination {
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    left: 37%;
    transform: translateY(240%);
}
.traditional {
    left: 35%;
    position: absolute;
    font-size: 1.5rem;
    transform: translateY(670%);
}
.contactbutton {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.6;
    font-weight: bold;
    padding: 15px;
    transform: translateY(650%); 
    width: 80%;
    height: 30%;
    text-shadow: none;
}
/*BLOCK 2*/
.block2{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.deal {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.8rem;
    left: 13%;
    transform: translateY(17%);
}
.dealstars {
    position: absolute;
    width: 40%;
    left: 25%;
    top: 70%;
    transform: translateY(7%);
}
.dealtext {
    position: absolute;
    font-family: sans-serif;
    color: black;
    left: 10%;
    transform: translateY(220%);
    font-size: 1.5rem;
}
.menubutton {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7a163c;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    left: 18%;
    transform: translateY(540%);
    border: none;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 100;
}
.discount{
    font-family: sans-serif;
    font-weight: bold;
    color: #7a163c;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #898e8b;
}
.oldprice{
    font-family: sans-serif;
    font-weight: bold;
    color: #af2a0f;
    text-decoration:line-through;
    text-shadow: 1px 1px 1px #898e8b;
}
.title{
    color: #1a6037; 
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #898e8b;
}
.discountcolor{
    font-family: sans-serif;
    font-weight: bold;
    color: #7a163c;
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #898e8b;
}
.hide{
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7a163c;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border: none;
    margin-left: 40%;
    margin-top: 5%;
}
.lilpozola1, .lilnachos1{
    width: 30%;
    margin-top: -45%;
    margin-left: 5%;
    box-shadow: 0px 0px 10px #1a6037;
}
.b-popup .b-popup-content{
    position: relative;
    margin:40px auto 0px auto;
    width:500px;
    height: 470px;
    padding:10px;
    background-color: #f9eff5;
    box-shadow: 0px 0px 10px #000;
}
.block2-pic{
    position: absolute;
    width: 100%;
    left: 50%;
    margin-top: 5%;
}
.lilnachos {
    width: 20%;
}
.lilpozola {
    width: 18%;
}
/* THIRD BLOCK */
.block3{
   display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/block2food.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 40px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
}
.fresh {
    position: absolute;
    left: 35%;
    transform: translateY(160%);
}
.freshsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.freshsocial a{
    color: white;
}
.freshsocial a:hover{
    color: #7a163c;
}
/* FOUTH BLOCK */
.block4{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
}
#about {
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    transform: translateY(10%);
}
.quote{
    position: absolute;
    left: 10%;
    transform: translateY(100%);
    font-size: 1.2rem;
}
.share {
    position: absolute;
    left: 10%;
    transform: translateY(850%);
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;
}
.share a{
    color: white;
}
.share a:hover{
    color: #7a163c;
}
.bur {
    position: absolute;
    left: 40%;
    width: 50%;
}
/* FIFTH */
.block5{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/gaspachoback.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
}
.delisious {
    position: absolute;
    left: 35%;
    transform: translateY(160%);
}
.delsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.delsocial a{
    color: white;
}
.delsocial a:hover{
    color: #7a163c;
}
/* SIXTH BLOCK */
.block6{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.1rem;
}
.menu{
   position: absolute;
    left: 50%;
    font-size: 1.5rem;
    color: #7a163c;
}
.starsmenu {
   position: absolute;
    width: 120%;
    top: 70%;
    left: -7%;
}
table{
    border-collapse: collapse;
}
.table{
    font-family: sans-serif;
    width: 100%;
    left: 50%;
    transform: translateY(40%);
}
table .coloredrow{
    background-color: #edeaea;
    font-size: 1.2rem;
}
th {
    color: #7a163c;
    top: 10%;
    font-size: 1.4rem;
}
/* SEVENTH BLOCK */
.block7{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/gallery.jpg");
    text-align: center;
    font-size: 1.8rem;
    color: #7a163c;
    margin-top: 160px;
    height: 700px;
    margin-left: -10px;
}
.gallery{
    position: absolute;
    left: 45%;
    color: #7a163c;
}
.galstars{
    position: absolute;
    width: 50%;
    top: 70%;
    left: 20%;
}
.firstrow{
   position: absolute; 
   transform: translateY(30%);
   left: 30%;
   width: 40%;
  }
#slider { /*положение слайдера*/
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    transform: translateY(20%);
}
#slider{ /*центровка слайдера*/
	margin: 0 auto;
}
#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}
#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}
article img{ /*размер изображений слайдера*/
	width: 75%;
}
#desktop:checked ~ #slider{ 
	max-width: 75%; 
}
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -84px;
	display: block;
	height: 68px;
	width: 68px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; 
	float: right;
	margin: 0 -84px 0 0; 
	display: block;
	height: 68px;
	width: 68px;
}
label, a{
	cursor: pointer;
}
.all input{
	display: none;
}
#switch1:checked ~ #slides .image{
	margin-left: 0;
}
#switch2:checked ~ #slides .image{
	margin-left: -100%;
}
#switch3:checked ~ #slides .image{
	margin-left: -200%;
}
#switch4:checked ~ #slides .image{
	margin-left: -300%;
}
#switch5:checked ~ #slides .image{
	margin-left: -400%;
}
#controls{
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label{ 
	border-radius: 10px; 
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}
#active{
	margin-top: 3%;
	margin-left: 47%;
	text-align: center;
}
#active label:hover{
	background: #7c1141;
	border-color: #777 !important;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #7c1141;
	border-color: #7c1141 !important;
}
#slides .image{
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover{
	opacity: 0.6;
}
#controls label{
	transition: opacity 0.2s ease-out;
}
/* EIGHTH BLOCK */
.block8{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
}
.location{
    position: absolute;
    left: 45%;
    font-size: 1.5rem;
    color: #7a163c;
}
.locstars{
    position: absolute;
    width: 50%;
    transform: translateY(-80%);
    left: 25%;
}
.adress{
    position: absolute;
    font-family: sans-serif;
    color: darkgray;
    font-weight: lighter;
    font-style: italic;
    width: 200%;
    font-size: 1.5rem;
}
.frame {
    position: absolute;
    width: 100%;
    height: 600px;
    margin-top: 150px;
    margin-left: -10px;
}
/* NINETH BLOCK */
.block9{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 750px;
    background-image: url("img/form.jpg");
    height: 500px;
    margin-left: -10px;
}
.contacts {
    position: absolute;
    left: 45%;
    color: #7a163c;
    
}
.contstars{
    position: absolute;
    width: 60%;
    transform: translateY(-120%);
    left: 20%;
}
.sendform {
    position: absolute;
    opacity: 0.5;
    left: 17%;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    transform: translateY(40%);
}
.firstname{
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(40%);
    margin-top: 30px;
   }
.secondname{
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(100%);
    margin-top: 30px;
} 
.email{
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(160%);
    margin-top: 30px;
} 
.yourtext{
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(240%);
    margin-top: 30px;
}
.secondname1 {
    position: absolute;
    margin-left: 119px;
    width: 550px;
    height: 30px;
}
.firstname1 {
   position: absolute;
    margin-left: 152px;
    width: 550px;
    height: 30px;
}
.email1 {
    position: absolute;
    margin-left: 109px;
    width: 550px;
    height: 30px;
}
.yourtext1 {
    position: absolute;
    margin-left: 164px;
    width: 550px;
    height: 100px;
}
.sendbutton {
    position: relative;
    margin-left: 430px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translateY(560%);
    background-color: #7a163c;
    border: none;
}
#form-result{
    color: white;
    left: 10%;
}
/*FOOTER */
footer{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/footertwo.jpg");
    margin-left: -10px;
    height: 250px;
    font-size: 0.8rem;
}
.social {
    position: absolute;
    left: 40%;
    color: #7a163c;
}
.sostars {
    position: absolute;
    width: 30%;
    transform: translateY(-70%);
    left: 35%;
}
.icons {
    position: absolute;
    left: 30%;
    transform: translateY(30%);
}
@media screen and (max-width: 760px) {
header{
    background-image: url("img/banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: -10px;
}
nav{
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    flex-wrap: wrap;
    align-items: flex-start;
}
body {
    max-width: 760px;
    margin: 0 auto;
    font-family: sans-serif;
}
.site-menu{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    margin-top: -510px;
    font-weight: bold;
}
.site-menu-ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.site-menu-li{
    padding: 10px;
    list-style: none;
}
.site-menu-li a{
    text-decoration: none;
    font-size: 18px;
    color: #7a163c;
    position: relative;
    padding: 5px;
}
.site-menu-li a::before{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #82054b;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
}
.site-menu-li a::after{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7f7f7;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
}
.site-menu-li:hover{
    opacity: 1.7;
    background-color: #7a163c;
}
.site-menu-li:hover a::before{
    opacity: 1.7;
    width: 50%;
    transform: translateX(100%);
}
.site-menu-li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
.site-menu-li a:hover{
    opacity: 1.7;
    color: white;
}
a {
    text-decoration: none;
}
.bannerfont{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    margin-top: -510px;
}
.flavor {
    position: absolute;
    font-size: 2rem;
    transform: translateY(280%);
    left: 22%;
}
.combination {
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    left: 21%;
    transform: translateY(240%);
}
.traditional {
    left: 17%;
    position: absolute;
    font-size: 1.5rem;
    transform: translateY(670%);
}
.contactbutton {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.6;
    font-weight: bold;
    padding: 15px;
    transform: translateY(650%); 
    width: 80%;
    height: 30%;
    text-shadow: none;
}
/*BLOCK 2*/
.block2{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.deal {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.8rem;
    left: 35%;
    transform: translateY(17%);
}
.dealstars {
    position: absolute;
    width: 40%;
    left: 25%;
    top: 70%;
    transform: translateY(7%);
}
.dealtext {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    color: black;
    left: 26%;
    transform: translateY(210%);
    font-size: 1.6rem;
}
.menubutton {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7a163c;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    left: 43%;
    transform: translateY(560%);
}
.block2-pic{
    display: none;
}
/* THIRD BLOCK */
.block3{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/block2food.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 40px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
    background-size: cover;
}
.fresh {
    position: absolute;
    left: 5%;
    transform: translateY(160%);
}
.freshsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.freshsocial a{
    color: white;
}
.freshsocial a:hover{
    color: #7a163c;
}
/* FOUTH BLOCK */
.block4{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
}
#about {
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    transform: translateY(10%);
}
.quote{
    position: absolute;
    left: 10%;
    transform: translateY(100%);
    font-size: 1.2rem;
}
.share {
    position: absolute;
    left: 35%;
    transform: translateY(850%);
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;
}
.share a{
    color: white;
}
.share a:hover{
    color: #7a163c;
}
.bur {
    display: none;
    left: 40%;
    width: 50%;
}
/* FIFTH */
.block5{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/gaspachoback.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
    background-size: cover;
}
.delisious {
    position: absolute;
    left: 15%;
    transform: translateY(160%);
}
.delsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.delsocial a{
    color: white;
}
.delsocial a:hover{
    color: #7a163c;
}
/* SIXTH BLOCK */
.block6{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.1rem;
}
.menu{
   position: absolute;
    left: 45%;
    font-size: 1.5rem;
    color: #7a163c;
}
.starsmenu {
   position: absolute;
    width: 120%;
    top: 70%;
    left: -7%;
}
table{
    border-collapse: collapse;
}
.table{
    font-family: sans-serif;
    width: 89%;
    left: 50%;
    transform: translateY(25%);
}
table .coloredrow{
    background-color: #edeaea;
    font-size: 1.2rem;
}
th {
    color: #7a163c;
    top: 10%;
    font-size: 1.4rem;
}
/* SEVENTH BLOCK */
.block7{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/gallery.jpg");
    text-align: center;
    font-size: 1.8rem;
    color: #7a163c;
    margin-top: 160px;
    height: 500px;
    margin-left: -10px;
}
.gallery{
    position: absolute;
    left: 40%;
    color: #7a163c;
}
.galstars{
    position: absolute;
    width: 50%;
    top: 70%;
    left: 20%;
}
.firstrow{
   position: absolute; 
   transform: translateY(30%);
   left: 25%;
   width: 40%;
  }
#slider { 
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    transform: translateY(35%);
}
#slider{ 
	margin: 0 auto;
}
#slides article{ 
	width: 20%;
	float: left;
}
#slides .image{ 
	width: 500%;
	line-height: 0;
}
#overflow{ 
	width: 100%;
	overflow: hidden;
}
article img{
	width: 75%;
}
#desktop:checked ~ #slider{ 
	max-width: 75%; 
}
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -24px;
	display: block;
	height: 68px;
	width: 68px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat;
	float: right;
	margin: 0 -24px 0 0;
	display: block;
	height: 68px;
	width: 68px;
}
label, a{
	cursor: pointer;
}
.all input{
	display: none;
}
#switch1:checked ~ #slides .image{
	margin-left: 0;
}
#switch2:checked ~ #slides .image{
	margin-left: -100%;
}
#switch3:checked ~ #slides .image{
	margin-left: -200%;
}
#switch4:checked ~ #slides .image{
	margin-left: -300%;
}
#switch5:checked ~ #slides .image{
	margin-left: -400%;
}
#controls{
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label{ 
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}
#active{ 
	margin-top: 6%;
	margin-left: 42%;
	text-align: center;
}
#active label:hover{
	background: #7c1141;
	border-color: #777 !important;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #7c1141;
	border-color: #7c1141 !important;
}
#slides .image{
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover{
	opacity: 0.6;
}
#controls label{
	transition: opacity 0.2s ease-out;
}
/* EIGHTH BLOCK */
.block8{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
}
.location{
    position: absolute;
    left: 40%;
    font-size: 1.5rem;
    color: #7a163c;
}
.locstars{
    position: absolute;
    width: 50%;
    transform: translateY(-80%);
    left: 25%;
}
.adress{
    position: absolute;
    font-family: sans-serif;
    color: darkgray;
    font-weight: lighter;
    font-style: italic;
    width: 200%;
    font-size: 1.5rem;
}
.frame {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 150px;
    margin-left: -10px;
}
/* NINETH BLOCK */
.block9{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 650px;
    background-image: url("img/form.jpg");
    height: 500px;
    margin-left: -10px;
}
.contacts {
    position: absolute;
    left: 40%;
    color: #7a163c;
}
.contstars{
    position: absolute;
    width: 60%;
    transform: translateY(-120%);
    left: 20%;
}
.sendform {
    position: absolute;
    opacity: 0.5;
    left: 3%;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    transform: translateY(40%);
}
.firstname{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(40%);
    margin-top: 30px;
    left: 2%;
   }
.secondname{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(100%);
    margin-top: 30px;
    left: 2%;
} 
.email{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(160%);
    margin-top: 30px;
    left: 2%;
} 
.yourtext{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(240%);
    margin-top: 30px;
    left: 2%;
}
.secondname1 {
    position: absolute;
    margin-left: 95px;
    width: 350px;
    height: 30px;
}
.firstname1 {
   position: absolute;
    margin-left: 128px;
    width: 350px;
    height: 30px;
}
.email1 {
    position: absolute;
    margin-left: 86px;
    width: 350px;
    height: 30px;
}
.yourtext1 {
    position: absolute;
    margin-left: 139px;
    width: 350px;
    height: 100px;
}
.sendbutton {
    position: relative;
    margin-left: 315px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translateY(560%);
    background-color: #7a163c;
    border: none;
}
#form-result{
    color: white;
    left: 10%;
}
/*FOOTER */
footer{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/footertwo.jpg");
    margin-left: -10px;
    height: 250px;
    font-size: 0.8rem;
}
.social {
    position: absolute;
    left: 30%;
    color: #7a163c;
}
.sostars {
    position: absolute;
    width: 30%;
    transform: translateY(-70%);
    left: 35%;
}
.icons {
    position: absolute;
    left: 15%;
    transform: translateY(30%);
}
}
@media screen and (max-device-width: 660px) {
body {
    max-width: 660px;
    min-width: 440px;
}
.flavor {
   left: 20%;
}
.combination {
    left: 19%;
}
.traditional {
    left: 15%;
}
/*BLOCK 2*/
.block2{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.deal {
    left: 35%;
}
.dealtext {
    left: 25%;
}
.menubutton {
    left: 43%;
}
/* THIRD BLOCK */
.fresh {
    left: 10%;
}
/* FOUTH BLOCK */
#about {
    left: 8%;
}
/* FIFTH */
.delisious {
    left: 15%;
}
/* SEVENTH BLOCK */
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -64px; 
	display: block;
	height: 68px;
	width: 68px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; 
	float: right;
	margin: 0 -64px 0 0; 
	display: block;
	height: 68px;
	width: 68px;
}
/* EIGHTH BLOCK */
.location{
    left: 35%;
}
/* NINETH BLOCK */
.secondname1 {
    position: absolute;
    margin-left: 60px;
    width: 330px;
    height: 30px;
}
.firstname1 {
   position: absolute;
    margin-left: 94px;
    width: 330px;
    height: 30px;
}
.email1 {
    position: absolute;
    margin-left: 50px;
    width: 330px;
    height: 30px;
}
.yourtext1 {
    position: absolute;
    margin-left: 104px;
    width: 330px;
    height: 100px;
}
.sendbutton {
    position: relative;
    margin-left: 280px;
}
/*FOOTER */
.social {
    position: absolute;
    left: 30%;
    color: #7a163c;
}
.icons {
    left: 10%;
}
}
@media screen and (max-width: 645px) {
    header{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: -10px;
}
nav{
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    flex-wrap: wrap;
    align-items: flex-start;
}
body {
    max-width: 645px;
    margin: 0 auto;
    font-family: sans-serif;
}
.site-menu{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    margin-top: -510px;
    font-weight: bold;
}
.site-menu-ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.site-menu-li{
    padding: 10px;
    list-style: none;
}
.site-menu-li a{
    text-decoration: none;
    font-size: 18px;
    color: #7a163c;
    position: relative;
    padding: 5px;
}
.site-menu-li a::before{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #82054b;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
}
.site-menu-li a::after{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7f7f7;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
}
.site-menu-li:hover{
    opacity: 1.7;
    background-color: #7a163c;
}
.site-menu-li:hover a::before{
    opacity: 1.7;
    width: 50%;
    transform: translateX(100%);
}
.site-menu-li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
.site-menu-li a:hover{
    opacity: 1.7;
    color: white;
}
a {
    text-decoration: none;
}
.bannerfont{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    margin-top: -510px;
}
.flavor {
    position: absolute;
    font-size: 2rem;
    transform: translateY(280%);
    left: 18%;
}
.combination {
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    left: 17%;
    transform: translateY(240%);
}
.traditional {
    left: 13%;
    position: absolute;
    font-size: 1.3rem;
    transform: translateY(800%);
}
.contactbutton {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.6;
    font-weight: bold;
    padding: 15px;
    transform: translateY(650%); 
    width: 80%;
    height: 30%;
    text-shadow: none;
}
/*BLOCK 2*/
.block2{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.deal {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.8rem;
    left: 30%;
    transform: translateY(17%);
}
.dealstars {
    position: absolute;
    width: 40%;
    left: 25%;
    top: 70%;
    transform: translateY(7%);
}
.dealtext {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    color: black;
    left: 20%;
    transform: translateY(220%);
    font-size: 1.6rem;
}
.menubutton {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7a163c;
    color: white;
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 10px;
    left: 40%;
    transform: translateY(560%);
}
.block2-pic{
    display: none;
}
/* THIRD BLOCK */
.block3{
   display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/block2food.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 40px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
}
.fresh {
    position: absolute;
    left: 10%;
    transform: translateY(160%);
}
.freshsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.freshsocial a{
    color: white;
}
.freshsocial a:hover{
    color: #7a163c;
}
/* FOUTH BLOCK */
.block4{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
}
#about {
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    transform: translateY(-30%);
}
.quote{
    position: absolute;
    left: 10%;
    transform: translateY(70%);
    font-size: 1.2rem;
}
.share {
    position: absolute;
    left: 35%;
    transform: translateY(970%);
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;
}
.share a{
    color: white;
}
.share a:hover{
    color: #7a163c;
}
.bur {
    display: none;
    left: 40%;
    width: 50%;
}
/* FIFTH */
.block5{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/gaspachoback.jpg");
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
    margin-top: 300px;
    margin-left: -10px;
    height: 500px;
}
.delisious {
    position: absolute;
    left: 10%;
    transform: translateY(160%);
}
.delsocial{
    position: absolute;
    font-size: 1.5rem;
    left: 20%;
    text-decoration: none;
}
.delsocial a{
    color: white;
}
.delsocial a:hover{
    color: #7a163c;
}
/* SIXTH BLOCK */
.block6{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.1rem;
}
.menu{
   position: absolute;
    left: 45%;
    font-size: 1.5rem;
    color: #7a163c;
}
.starsmenu {
   position: absolute;
    width: 120%;
    top: 70%;
    left: -7%;
}
table{
    border-collapse: collapse;
}
.table{
    font-family: sans-serif;
    width: 80%;
    left: 50%;
    transform: translateY(20%);
}
table .coloredrow{
    background-color: #edeaea;
    font-size: 1.2rem;
}
th {
    color: #7a163c;
    top: 10%;
    font-size: 1.4rem;
}
/* SEVENTH BLOCK */
.block7{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/gallery.jpg");
    text-align: center;
    font-size: 1.8rem;
    color: #7a163c;
    margin-top: 160px;
    height: 350px;
    margin-left: -10px;
}
.gallery{
    position: absolute;
    left: 30%;
    color: #7a163c;
}
.galstars{
    position: absolute;
    width: 50%;
    top: 70%;
    left: 20%;
}
.firstrow{
   position: absolute; 
   transform: translateY(30%);
   left: 30%;
   width: 40%;
  }
#slider { 
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    transform: translateY(35%);
}
#slider{ 
	margin: 0 auto;
}
#slides article{ 
	width: 20%;
	float: left;
}
#slides .image{ 
	width: 500%;
	line-height: 0;
}
#overflow{ 
	width: 100%;
	overflow: hidden;
}
article img{ 
	width: 75%;
}
#desktop:checked ~ #slider{ 
	max-width: 75%; 
}
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -54px; 
	display: block;
	height: 68px;
	width: 68px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat;
	float: right;
	margin: 0 -54px 0 0;
	display: block;
	height: 68px;
	width: 68px;
}
label, a{
	cursor: pointer;
}
.all input{
	display: none;
}
#switch1:checked ~ #slides .image{
	margin-left: 0;
}
#switch2:checked ~ #slides .image{
	margin-left: -100%;
}
#switch3:checked ~ #slides .image{
	margin-left: -200%;
}
#switch4:checked ~ #slides .image{
	margin-left: -300%;
}
#switch5:checked ~ #slides .image{
	margin-left: -400%;
}
#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}
#active label{ 
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}
#active{ 
	margin-top: 6%;
	margin-left: 42%;
	text-align: center;
}
#active label:hover{ 
	background: #7c1141;
	border-color: #777 !important; 
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #7c1141;
	border-color: #7c1141 !important;
}
#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover{
	opacity: 0.6;
}
#controls label{ 
	transition: opacity 0.2s ease-out;
}
/* EIGHTH BLOCK */
.block8{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
}
.location{
    position: absolute;
    left: 40%;
    font-size: 1.5rem;
    color: #7a163c;
}
.locstars{
    position: absolute;
    width: 50%;
    transform: translateY(-80%);
    left: 25%;
}
.adress{
    position: absolute;
    font-family: sans-serif;
    color: darkgray;
    font-weight: lighter;
    font-style: italic;
    width: 200%;
    font-size: 1.5rem;
}
.frame {
    position: absolute;
    width: 100%;
    height: 400px;
    margin-top: 150px;
    margin-left: -10px;
}
/* NINETH BLOCK */
.block9{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1rem;
    margin-top: 550px;
    background-image: url("img/form.jpg");
    height: 400px;
    margin-left: -10px;
}
.contacts {
    position: absolute;
    left: 45%;
    color: #7a163c;
    font-size: 1.5rem;
}
.contstars{
    position: absolute;
    width: 60%;
    transform: translateY(-120%);
    left: 20%;
}
.sendform {
    position: absolute;
    opacity: 0.5;
    left: 3%;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    transform: translateY(65%);
}
.firstname{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(40%);
    margin-top: 30px;
   }
.secondname{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(100%);
    margin-top: 30px;
} 
.email{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(160%);
    margin-top: 30px;
} 
.yourtext{
    position: absolute;
    width: 50%;
    height: 20%;
    transform: translateY(240%);
    margin-top: 30px;
}
.secondname1 {
    position: absolute;
    margin-left: 50px;
    width: 250px;
    height: 25px;
}
.firstname1 {
   position: absolute;
    margin-left: 72px;
    width: 250px;
    height: 25px;
}
.email1 {
    position: absolute;
    margin-left: 175px;
    margin-top: -18px;
    width: 250px;
    height: 25px;
}
.yourtext1 {
    position: absolute;
    margin-left: 80px;
    margin-top: -5px;
    width: 249px;
    height: 60px;
}
.sendbutton {
    position: relative;
    margin-left: 120px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translateY(460%);
    background-color: #7a163c;
    border: none;
}
#form-result{
    color: white;
    left: 10%;
}
/*FOOTER */
footer{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/footertwo.jpg");
    margin-left: -10px;
    height: 630px;
    font-size: 0.8rem;
}
.social {
    position: absolute;
    left: 25%;
    color: #7a163c;
}
.sostars {
    position: absolute;
    width: 30%;
    transform: translateY(-70%);
    left: 35%;
}
.icons {
    position: absolute;
    left: 30%;
    transform: translateY(10%);
}
}
@media screen and (max-width: 540px) {
    header{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: -10px;
}
nav{
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
body {
    max-width: 540px;
    margin: 0 auto;
    font-family: sans-serif;
}
.site-menu{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    margin-top: -510px;
    font-weight: bold;
}
.site-menu-ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.site-menu-li{
    padding: 10px;
    list-style: none;
}
.site-menu-li a{
    text-decoration: none;
    font-size: 14px;
    color: #7a163c;
    position: relative;
    padding: 5px;
}
.site-menu-li a::before{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #82054b;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
    
}
.site-menu-li a::after{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7f7f7;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
}
.site-menu-li:hover{
    opacity: 1.7;
    background-color: #7a163c;
}
.site-menu-li:hover a::before{
    opacity: 1.7;
    width: 50%;
    transform: translateX(100%);
}
.site-menu-li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
.site-menu-li a:hover{
    opacity: 1.7;
    color: white;
}
a {
    text-decoration: none;
}
.bannerfont{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    margin-top: -510px;
}
.flavor {
    position: absolute;
    font-size: 2rem;
    transform: translateY(280%);
    left: 8%;
}
.combination {
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    left: 7%;
    transform: translateY(240%);
}
.traditional {
    left: 3%;
    position: absolute;
    font-size: 1.5rem;
    transform: translateY(670%);
}
.contactbutton {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.6;
    font-weight: bold;
    padding: 15px;
    transform: translateY(650%); 
    width: 80%;
    height: 30%;
    text-shadow: none;
}
}
@media screen and (max-width: 360px) {
header{
    background-image: url("img/banner.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: -10px;
}
nav{
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    flex-wrap: wrap;
    align-items: flex-start;
}
body {
    max-width: 360px;
    min-width: 320px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.7em;
}
.site-menu{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    margin-top: -230px;
    font-weight: bold;
}
.site-menu-ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.site-menu-li{
    padding: 10px;
    list-style: none;
}
.site-menu-li a{
    text-decoration: none;
    font-size: 10px;
    color: #7a163c;
    position: relative;
    padding: 0px;
}
.site-menu-li a::before{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #82054b;
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s;
}
.site-menu-li a::after{
    opacity: 1.7;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f7f7f7;
    position: absolute;
    top: 90%;
    right: 0;
    transition: .5s;
}
.site-menu-li:hover{
    opacity: 1.7;
    background-color: #7a163c;
}
.site-menu-li:hover a::before{
    opacity: 1.7;
    width: 50%;
    transform: translateX(100%);
}
.site-menu-li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
.site-menu-li a:hover{
    opacity: 1.7;
    color: white;
}
a {
    text-decoration: none;
}
.bannerfont{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    margin-top: -410px;
    vertical-align: middle;
}
.flavor {
    position: absolute;
    font-size: 1.4rem;
    transform: translateY(580%);
    left: 14%;
}
.combination {
    position: absolute;
    font-size: 2.1rem;
    font-style: italic;
    font-weight: bold;
    left: 10%;
    transform: translateY(440%);
}
.traditional {
    left: 8%;
    position: absolute;
    font-size: 0.9rem;
    transform: translateY(1300%);
}
.contactbutton {
    color: black;
    text-decoration: none;
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    padding: 12px;
    transform: translateY(800%); 
    width: 80%;
    height: 35%;
    text-shadow: none;
}
/*BLOCK 2*/
.block2{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    height: 250px;
}
.deal {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    left: 28%;
    transform: translateY(10%);
}
.dealstars {
    position: absolute;
    width: 40%;
    left: 27%;
    top: 70%;
    transform: translateY(7%);
}
.dealtext {
    position: absolute;
    font-family: sans-serif;
    color: black;
    left: 10%;
    transform: translateY(160%);
    font-size: 1.2rem;
}
.menubutton {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7a163c;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    left: 35%;
    transform: translateY(400%);
}
.block2-pic{
    position: relative;
    width: 100%;
    left: 0%;
    right: 5%;
    margin-top: 5%;
    transform: translateY(60%);
}
.lilnachos {
    width: 49%;
}
.lilpozola {
    width: 44%;
}
/* THIRD BLOCK */
.block3{
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/block2food.jpg");
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px black;
    background-size: cover;
    overflow: hidden;
    height: 300px;
    text-align: center;
}
.fresh{
    left: 0%;
    top: -10%;
}
.freshsocial{
    text-decoration: none;
    font-size: 0.9rem;
    left: 20%;
}
.freshsocial a{
    color: white;
}
.freshsocial a:hover{
    color: #7a163c;
}
/* FOUTH BLOCK */
.block4{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    text-align: center;
}
#about {
    position: absolute;
    left: 3%;
    font-size: 0.9rem;
    transform: translateY(-15%);
    color: #7a163c;
    font-weight: bold;
}
.quote{
    position: absolute;
    left: -4%;
    transform: translateY(48%);
    font-size: 0.95rem;
}
.share {
    position: absolute;
    left: 20%;
    transform: translateY(1000%);
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px black;
}
.share a{
    color: white;
}
.share a:hover{
    color: #7a163c;
}
.bur {
    overflow: hidden;
   }
/* FIFTH */
.block5{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-image: url("img/gaspachoback.jpg");
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    background-size: cover;
    overflow: hidden;
    height: 300px;
    justify-content: center;
    align-items:center;
    transform: translateY(-30%);
}
.delisious{
    left: 0%;
    top: -10%;
}
.delsocial{
    text-decoration: none;
    font-size: 0.9rem;
    left: 20%;
}
.delsocial a{
    color: white;
}
.delsocial a:hover{
    color: #7a163c;
}
/* SIXTH BLOCK */
.block6{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1rem;
    transform: translateY(-22%);
    height: 500px;
}
.menu{
   position: absolute;
    left: 40%;
    font-size: 1rem;
    color: #7a163c;
}
.starsmenu {
   position: absolute;
    width: 120%;
    top: 70%;
}
.table{
    font-family: sans-serif;
    width: 97%;
    left: -4%;
    transform: translateY(14%);
    font-size: 0.9rem;
}
th {
    color: #7a163c;
    top: 10%;
    font-size: 0.85rem;
}
/* SEVENTH BLOCK */
.block7{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/gallery.jpg");
    text-align: center;
    font-size: 1.1rem;
    color: #7a163c;
    margin-top: 40px;
    height: 330px;
    margin-left: -10px;
}
.gallery{
    position: absolute;
    left: 35%;
    color: #7a163c;
}
.galstars{
    position: absolute;
    width: 50%;
    top: 70%;
    left: 20%;
}
.firstrow{
   position: absolute; 
   transform: translateY(70%);
   left: 35%;
   width: 40%;
  }
#slider { 
    display: flex;
    position: relative;
    width: 130%;
    flex-wrap: wrap;
    text-align: center;
    transform: translateY(30%);
    left: -15%;
}
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -24px; 
	display: none;
	width: 10%;
	height: 100%;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; 
	float: right;
	margin: 0 -24px 0 0; 
	display: none;
	width: 10%;
	height: 100%;
}
#active{ 
	margin-top: 2%;
	margin-left: 40%;
	text-align: center;
}
#desktop:checked ~ #slider{ 
	max-width: 150%; 
}
/* EIGHTH BLOCK */
.block8{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 1.1rem;
    margin-top: 5px;
}
.location{
    position: absolute;
    left: 25%;
    font-size: 1rem;
    color: #7a163c;
}
.locstars{
    position: absolute;
    width: 50%;
    transform: translateY(-80%);
    left: 25%;
}
.adress{
    position: absolute;
    font-family: sans-serif;
    color: darkgray;
    font-weight: lighter;
    font-style: italic;
    width: 200%;
    font-size: 1.1rem;
}
.frame {
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: 120px;
    margin-left: -10px;
}
/* NINETH BLOCK */
.block9{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: black;
    font-size: 0,5rem;
    margin-top: 420px;
    background-image: url("img/form.jpg");
    height: 450px;
    margin-left: -10px;
}
.contacts {
    position: absolute;
    left: 25%;
    color: #7a163c;
    transform: translateY(-20%);
}
.contstars{
    position: absolute;
    width: 40%;
    transform: translateY(-130%);
    left: 30%;
}
.sendform {
    opacity: 0.5;
    left: 30%;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    transform: translateY(70%);
}
.firstname{
    position: absolute;
    width: 0%;
    height: 0%;
    transform: translateY(50%);
    margin-top: 40px;
    margin-left: -260px;
    color: #444444;
   }
.secondname{
    position: absolute;
    width: 90%;
    height: 20%;
    transform: translateY(100%);
    margin-top: -22px;
    margin-left: -210px;
    color: #444444;
} 
.email{
    position: absolute;
    width: 90%;
    height: 20%;
    transform: translateY(60%);
    margin-top: 35px;
    margin-left: -150px;
    clip: none;
    color: #444444;
} 
.yourtext{
    position: absolute;
    clip: none;
    width: 90%;
    height: 20%;
    margin-top: 6px;
    margin-left: -222px;
    color: #444444;
}
.secondname1 {
    position: absolute;
    margin-top: 40px;
    border:2px solid #7a163c;
    width: 300px;
    height: 30px;
    transform: translateX(25.5%);
}

.firstname1 {
    position: absolute;
    top: 9%;
    border:2px solid #7a163c;
    width: 300px;
    height: 30px;
    transform: translateX(35%);
}
.email1 {
    position: absolute;
    top: 510%;
    border:2px solid #7a163c;
    width: 300px;
    height: 30px;
    transform: translateX(-35%);
}
.yourtext1 {
    position: absolute;
    top: 630%;
    width: 297px;
    height: 100px;
    transform: translateX(20%);
    border:2px solid #7a163c;
}
.sendbutton {
    position: absolute;
    top: 440%;
    width: 150px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translateX(-80%);
    background-color: #7a163c;
    color: white;
    border-color: #7a163c;
}
/*FOOTER */
footer{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-image: url("img/footertwo.jpg");
    margin-left: -10px;
    height: 580px;
}
.social {
    position: absolute;
    left: 15%;
    font-size: 0.6rem;
    color: #7a163c;
}
.sostars {
    position: absolute;
    width: 30%;
    transform: translateY(-70%);
    left: 35%;
}
.icons {
    position: absolute;
    left: 20%;
    transform: translateY(5%);
}
}
.btn_up{
    position: fixed;
    bottom: -50px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #7a163c;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}
.btn_up:after{
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn_up.active{
    bottom: 50px;
}